<ul class="layui-nav layui-nav-tree layui-bg-cyan layui-inline" lay-filter="demo">
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;">商城管理</a>
        <dl class="layui-nav-child">
            <dd><a href="/ProductsCategory/Index" target="rightFrame">分类管理</a></dd>
            <dd><a href="/Home/ProductsInfo" target="rightFrame">产品管理</a></dd>
            <dd><a href="javascript:;">选项三</a></dd>
            <dd><a href="">跳转项</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">解决方案</a>
        <dl class="layui-nav-child">
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">云市场</a></li>
    <li class="layui-nav-item"><a href="">社区</a></li>
</ul>